<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
<h1>My Chat App</h1>
<h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>

{% if current_user.is_authenticated %}
    <h3>My rooms</h3>
    <ul>
        {% for room in rooms %}
            <form method="get" action="/rooms/{{ room._id.room_id }}">
                <button id="button" type="submit">{{ room.room_name }}</button>
            </form>
        {% endfor %}
    </ul>
    <button onclick="decrementroom()">previous</button>
    <button onclick="incrementroom()">next</button>
    <button onclick="enter()">Enter</button>

{% endif %}

<script>
    var buttons = document.querySelectorAll( "button[id^='button']" );
    var counter=-1;
    var buttonname;
    function incrementroom() 
    {   counter++;
        if(counter==buttons.length)
            {
            counter=-1;
            buttonname=0;
            incrementroom();
            }
        else{
            buttonname=buttons[counter];
            console.log(buttonname);
        }
    }

    function decrementroom() 
    {
        if(counter<0)
            {
            counter=0;
            buttonname=0;
            }
        else{
            counter=counter-1;
            buttonname=buttons[counter];
            console.log(buttonname);
            }
    }


    function enter()
    {
        buttonname.click();
    }
       
</script>


</body>
</html>